.user-bag-img, .inventory-box{
    border: 1px black solid;

}

.user-bag-img{
    border-radius: 30%;
    padding: 32px;
}
#user-inventory{
    margin: 0 2rem !important;
}

#field-img{
    background: url(../img/field2.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}